<% form_for :advice, @advice, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :subject %>
  <%= f.text_area :tip, :size => "60x12" %>
  <%= submit_tag "Create" %>
<% end %>



<p>Title:</p>
<%= text_field(:advice, :title) %>
<p>Tip:</p>
<%= text_area(:advice, :tip, "cols" => 40, "rows" => 20) %>
<p>Category of advice:</p>
<%= select_tag(:subject, options_for_select([['Safety', 1], ['Resources', 2]])) %>



<%= text_field "person", "name", "size" => 20 %>

  <%= form_tag("/", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>