
<%
  user = @user
  user_detail = user.thredded_user_detail
%>
<% if user == current_user %>
<h1>
  <%= user.thredded_display_name %>
</h1>
  
    <h3>Current Moderation Status: <%= user_detail.moderation_state.to_s.humanize %></h3>
    <%= link_to t('nav.edit_my_account'), edit_user_registration_path %>
    
<ul>
  <li><%= t 'thredded.users.user_since_html', time_ago: time_ago(user.created_at) %></li>
  <% if user_detail.last_seen_at %>
      <li><%= t 'thredded.users.last_active_html', time_ago: time_ago(user_detail.last_seen_at) %></li>
  <% end %>
  <% if user_detail.topics_count > 0 %>
      <li><%= t 'thredded.users.started_topics_count', count: user_detail.topics_count %></li>
  <% end %>
  <% if user_detail.posts_count > 0 %>
      <li><%= t 'thredded.users.posts_count', count: user_detail.posts_count %></li>
  <% end %>
</ul>
<% posts_page = Thredded.posts_page_view(
    scope: user.thredded_posts.order_newest_first.limit(5),
    current_user: current_user) %>
<% if posts_page.present? %>
    <h2><%= t 'thredded.users.recent_activity' %></h2>
    <%= Thredded::ApplicationController.render partial: 'thredded/users/posts',
                                               locals: { posts: posts_page } %>
<% end %>
<h4 align="center" style="font-size: 0.9rem; color: grey;">Don't worry only you can see this page. Your profile information is only visible to you in order to preserve anonymity</h4>
<% else %>
  <% controller.redirect_to root_path %>
  <p class="thredded--alert thredded--alert-warning">You are not authorized to view this content</p>
<% end %>