<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<header role="banner" class="app-header" onload="function()">
  <div class="top-navbar">
      <div id="desktopMenu"> 
        
        <a class="app-nav-logo" href="/"><%= t 'Home' %></a>
        <!--<a <%= link_to 'Forum', thredded.root_path %></a>-->
        <!--<a <%= link_to 'Resources', "/about" %></a>-->
        <!--<a <%= link_to 'Give Advice', "/tips/new" %></a>-->
        <a <%= link_to 'About', "/info" %></a>
        <a <%= link_to 'Contact', "/contacts/new" %><span class="glyphicon glyphicon-envelope"/></a>
      </div>
      <div class="app-nav-auth">
      <% if current_user %>
        <%= link_to t('nav.sign_out'), main_app.destroy_user_session_path,
                    method: :delete %>
      <% else %>
        <%= link_to t('nav.sign_in'), main_app.new_user_session_path %>
      <% end %>
    </div>
  </div>
  <div class="bottom-navbar">
    <center>
    <span class="left-menu">
      <a <%= link_to "Give Advice", "/tips/new" %></a> •
      <a <%= link_to "Rick's Tips", "/tips" %></a>
    </span>
    <span class="center-icon">
      <img src=<%= asset_path('icon_white.png') %> alt="icon" style="width:40px;">
    </span>
    <span class="right-menu">
      <a <%= link_to t('nav.forums'), thredded.root_path %></a> • 
      <a <%= link_to "Resources", "/about" %></a>
    </span>
    </center>
  </div>
  
 <!--t brand.name-->
  
  <div id="menuToggle">
    <!--A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
    <input type="checkbox" />
    
    <!--Some spans to act as a hamburger-->
    <span></span>
    <span></span>
    <span></span>
    
    <ul id=menu>
      <li><a<%= link_to 'Home', "/" %></a></li>
      <li><a<%= link_to 'Forum', thredded.root_path %></a></li>
      <li><a<%= link_to 'Resources', "/about" %></a></li>
      <li><a<%= link_to 'Give Advice', "/tips/new" %></a></li>
      <li><a<%= link_to 'About', "/info" %></a></li>
      <li><a<%= link_to 'Contact', "/contacts/new" %></a></li>
    </ul>
  </div>
<%= javascript_include_tag "shortcut" %>
<script>
$(window).on("scroll", function () {
    if ($(this).scrollTop() > 100) {
        $('.app-header').addClass('shrink');
    }
    else {
        $('.app-header').removeClass('shrink');
    }
});

shortcut.add("ctrl+x", function() {
  window.location.replace("http://google.com");
});  
</script>

</header>