<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<header role="banner" class="app-header" onload="function()">
  <div class="top-navbar">
      <div id="desktopMenu"> 
        <a class="app-nav-logo" href="/"><%= t 'Home' %></a>
        <a <%= link_to 'About', "/info" %></a>
      </div>
      <div class="app-nav-auth">
        <% if current_user %>
          <%= link_to t('nav.sign_out'), main_app.destroy_user_session_path,
                      method: :delete %>
        <% else %>
          <%= link_to t('nav.sign_in'), main_app.new_user_session_path %>
        <% end %>
    </div>
  </div>
  
  <div class="bottom-navbar">
    <div class="left-menu">
      <div class="left-menu-content">
        <a <%= link_to "Give Advice", "/tips/new" %></a> •
        <a <%= link_to "Rick's Tips", "/tips" %></a>
      </div>
    </div>
    
    <div class="center-icon">
      <div class="center-icon-content">
        <%= link_to "/" do %>
              <img src=<%= asset_path('icon_white.png') %> alt="Extinguish-icon" style="width: 40px;">
        <% end %>
      </div>
    </div>
    
    <div class="right-menu">
      <div class="right-menu-content">
        <a <%= link_to t('nav.forums'), thredded.root_path %></a> • 
        <a <%= link_to "Resources", "/about" %></a>
      </div>
    </div>
    
    <div class="mobile-menu">
      <div class="mobile-menu-content">
        <ul class="bottom-navbar">
          <li>
            <%= link_to "/tips/new" do %>
              <i class="material-icons md-36">comment</i><span class="caption">GIVE ADVICE</span>
            <% end %>
          </li>
          <li>
            <%= link_to "/tips" do %>
              <i class="material-icons md-36">mood</i><span class="caption">RICKI'S TIPS</span>
            <% end %>
          </li>
          <li>
            <%= link_to "/" do %>
              <img src=<%= asset_path('icon_white.png') %> alt="Extinguish-icon" style="width:32px"><span class="caption">HOME</span>
            <% end %>
          </li>
          <li>
            <%= link_to thredded.root_path do %>
              <i class="material-icons md-36">forum</i><span class="caption">FORUMS</span>
            <% end %>
          </li>
          <li>
            <%= link_to "/about" do %>
              <i class="material-icons md-36">import_contacts</i><span class="caption">RESOURCES</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
  
<%= javascript_include_tag "shortcut" %>
<script>
$(window).on("scroll", function () {
    if ($(this).scrollTop() > 100) {
        $('.app-header').addClass('shrink');
    }
    else {
        $('.app-header').removeClass('shrink');
    }
});

shortcut.add("ctrl+x", function() {
  window.location.replace("https://www.buzzfeed.com");
});  
</script>

</header>
