<body onload="myFunction()">
<p> </p>
<center><img src=<%= asset_path('Logo_1.png') %> alt="logo" style="width:80%;"></center>
<center><h2><%= link_to t('nav.forums'), thredded.root_path %> • <%= link_to "Helpful Resources", "/about" %>	• <%= link_to "Anonymously Submit Advice", "/tips/new" %>	• <%= link_to "Rick's Tips", "/tips" %></h2></center>

<h1><center>Users Must Sign In To Access Forum</center></h1>
<center>

<<<<<<< HEAD
 <p><center><h3>Gaslighting is the process of manipulating someone via psychological means with the intent of making them question their own sanity.</h3></center></p>
 <p><center><h3>Extinguish is a support network committed to ending domestic violence by putting out gaslights one case at a time. We do this with the help of our growing community of users whose combined experience provide anonymous support.</h3></center></p>
 <p><center><h3>In order to maximize security, you must create an account to access our forums. We do not ask for any personal information so you must remember your username and password. We want our site to be absolutely secure, so no email recovery option is available.</h3></center></p>

<p><center><h1> <b><%= link_to t('nav.forums'), thredded.root_path %></b></h1></center></p>
=======
<p>Gaslighting is the process of manipulating someone via psychological means with the intent of making them question their own sanity.</p>
>>>>>>> haiku-names

<p>Extinguish is a support network committed to ending domestic violence by putting out gaslights one case at a time. We do this with the help of our growing community of users whose combined experience provide anonymous support.</p>

<<<<<<< HEAD
<p><center><h1> <a href=""><strong><%= link_to "Resources", "/about" %></strong></a></h1></center></p>
<p><center><h1><a href=""><strong><%= link_to "Give Advice", "/advice" %></strong</a></h1></center></p>
=======
<p>In order to maximize security, you must create an account to access our forums. We do not ask for any personal information so you must remember your username and password. We want our site to be absolutely secure, so no email recovery option is available.</p>
>>>>>>> haiku-names

 </center>

<div class="popup">
  <span class="popuptext" id="myPopup"><a href="https://www.womenslaw.org/about-abuse/safety-tips/safety-while-using-internet" target="_blank"><div class="internetsafety">Click here for internet safety tips</div></a></span>
</div>

<script>
// When the user clicks on <div>, open the popup
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>
</body>

