<div align="center">
  <h1>Send Us a Message</h1>
</div>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true, maxlength: 100 %>
    <%= f.input :email, :required => true, maxlength: 100 %>
    <%= f.input :message, :as => :text, :required => true, maxlength: 500 %>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>


