<div align="center">
  <h3>Send A message to Us</h3>

  <%= form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>

<center>
<h1>Contact Us</h1>

<%= form_for @message, url: contact_path do |message_form| %>
  <fieldset>
    <div class="field">
      <%= message_form.text_field :name, size: "30x10", placeholder: "Name" %>
    </div>
    
    <div class="field">
      <%= message_form.email_field :email, size: "30x10",  placeholder: "Email"%>
    </div>
    
    <div class="field">
      <%= message_form.text_area :content, size: "40x5" , placeholder: "Message"%>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="field">
      <%= message_form.submit "Send" %>
    </div>
  </fieldset>
  
  </center>
<% end %>
