<%= render 'nav' %>

<div align="center">
    <h1>Rick's Tips</h1>
</div>

<% subjects = Tip.where(approved: true).distinct.pluck(:subject) %>
<% subjects.each do |subject| %>

    <div>
        <div class="tip-dropdown">
            <h2 class="tip-table-header">
                <%= subject %>
                <div class="tip-dropdown-button" style="display:inline-block; float:right;"><i class="material-icons md-36">keyboard_arrow_right</i></div>
            </h2>
        </div>
        <div class="tip-minimize-window">
            <table class="tip-table">
                <thead>
                    <th width=20%>Title</th>
                    <th width=40%>Advice</th>
                </thead>
                <tbody>
                <% @tips.each do |tip| %>
                <% unless !tip.approved %>
                <% if tip.subject == subject %>
                    <tr>
                        <td><%= tip.title %></td>
                        <td><%= tip.body %></td>
                    </tr>
                <% end %>
                <% end %>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
<% end %>

<div id="tip-bottom"></div>
<div class="tip-blurb" align="center">
    <h1>What are Rick's Tips?</h1>
    <p>Rick's Tips are our own living dynamic resource that is built by YOU the community </p>
</div>
<div align="center">
    <h1 style=" margin-bottom: 0">Submit your own tip!</h1>
</div>

<%= form_for(@tip) do |f| %>
    <%= f.label :title%>
    <%= f.text_field :title, :required => true, maxlength: 100  %>

    <%= f.label :body %>
    <%= f.text_area :body, :required => true, maxlength: 500  %>
    
    <%= f.label :subject %>
    <%= f.select :subject, ['Safety', 'Resources', 'Misc.'] %>
    
    <%= submit_tag "Submit" %>
<%end%>

<% cities = {
  'USA'      => ['Washington', 'New York'],
  'Bulgaria' => ['Sofia', 'Svishtov']
} %>
<%= select_tag :city, grouped_options_for_select(cities) %>

<script>
$(".tip-dropdown-button").click(function(){
    if($(this).html() == '<i class="material-icons md-36">keyboard_arrow_right</i>'){
        $(this).html('<i class="material-icons md-36">keyboard_arrow_down</i>');
    }
    else{
        $(this).html('<i class="material-icons md-36">keyboard_arrow_right</i>');
    }
    $(this.parentNode.parentNode.parentNode.children[1]).slideToggle();
});
</script>

