<%= render 'nav' %>
<% if !current_user.admin? %>
<!--REDIRECT UNAUTHORIZED HERE -->
<% end %>
<div align="center">
<h1>Tip Moderation Queue</h1>
</div>
<table width=100%>
    <thead>
        <th width=20%>Title</th>
        <th width=40%>Advice</th>
        <th width=20%>Subject</th>
        <th width=10%></th>
        <th width=10%></th>
    </thead>
    <tbody>
<% @tips.each do |tip| %>
    <% unless tip.approved %>
        <tr>
            <td><%= tip.title %></td>
            <td><%= tip.body %></td>
            <td><%= tip.subject %></td>
            <td><%= button_to "Delete Tip", tip_path(tip), data: { confirm: "Are you sure you want to delete this tip? This CANNOT be undone." }, method: :delete, :class => "table-button"%></td>
            <td><%= button_to "Approve Tip", tip_path(tip), method: :put,  :class => "table-button"%></td>
        </tr>
    <% end %>
<% end %>
    </tbody>
</table>
</div>