<h1>Tips</h1>

<%= form_for(@tip) do |f| %>
    <%= f.label :title%>
    <%= f.text_field :title, :required => true  %>

    <%= f.label :body %>
    <%= f.text_area :body, :required => true %>
    
    <%= f.label :subject %>
    <%= f.select :subject, ['Safety', 'Resources', 'Misc.'] %>
    
    <%= submit_tag "Submit" %>
<%end%>
    
        