<div align="center">

<div>
<h1>Tips</h1>

<table>
    <thead>
        <th width=20%>Title</th>
        <th width=60%>Advice</th>
        <th width=20%>Subject</th>
    </thead>
    <tbody>
<% @tips.each do |tip| %>
    <tr>
        <td><%= tip.title %></td>
        <td><%= tip.body %></td>
        <td><%= tip.subject %></td>
    </tr>
<% end %>
    </tbody>
</table>
</div>

<h1>Tips</h1>

</div>
<%= form_for(@tip) do |f| %>
    <%= f.label :title%>
    <%= f.text_field :title, :required => true, maxlength: 100 %>

    <%= f.label :body %>
    <%= f.text_area :body, :required => true, maxlength: 500 %>
    
    <%= f.label :subject %>
    <%= f.select :subject, ['Safety', 'Resources', 'Misc.'] %>
    
    <%= submit_tag "Submit" %>
<%end%>
    

        